BasedOnStyle: LLVM
IndentWidth: 2
ColumnLimit: 120
UseTab: Never
BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: InlineOnly
PointerAlignment: Left
ReferenceAlignment: Left
SpaceBeforeParens: ControlStatements
SortIncludes: false